.git
.github

node_modules
vendor

src/node_modules
src/vendor

src/storage/logs/*
src/storage/framework/cache/*
src/storage/framework/sessions/*
src/storage/framework/views/*
src/bootstrap/cache/*.php

docker-compose.dev.yml
docker-compose.prod.yml

npm-debug.log
yarn-error.log
.DS_Store